/*整体控制*/
*{ margin: 0; padding: 0; font-family: Arial,'微软雅黑';}
body{font-size: 12px;background:#fff;}
img,h1,h2,h3,h4,h5,h6,ul,ol,dl,p{ padding: 0; margin: 0; list-style: none; border:none;}
a{outline:0;color:#666;cursor:pointer;text-decoration:none;}
a:visited{color:none;}
a:hover{color:#ed6e6e;text-decoration:none;}
a:link,a:visited,a:active{text-decoration:none;}
input,textarea,select,button{display:inline-block;}
th{background:#f5f5f5;}
label{font-weight:normal;margin-bottom:0px;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;}

.layui-table td, .layui-table th{padding:4px 8px;}
.layui-table .layui-btn-container .layui-btn{margin:4px;}
.layui-table .layui-btn+.layui-btn{margin:4px;}
.layui-table-cell{padding:0px 8px;}
.layui-table .layui-input{height:28px;}
/**webuploader begin**/
.webuploader-container {position: relative;}
.webuploader-element-invisible {position: absolute !important;clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px,1px,1px,1px);}
.webuploader-pick {position: relative;display: inline-block;cursor: pointer;background: #00b7ee;padding: 10px 15px;color: #fff;text-align: center;border-radius: 3px;overflow: hidden;}
.webuploader-pick-hover {background: #00a2d4;}
.webuploader-pick-disable {opacity: 0.6;pointer-events:none;}
/**webuploader end**/


/**对齐margin|padding|float begin**/
.main_auto{width:1200px;margin: 0 auto;}
.maintb{width:1200px;margin: 0 auto;padding:15px 0 15px;}
.marauto{margin:0 auto;}

.mar0{margin:0px;}
.mart0{margin-top:0px;}
.mar5{margin:5px;}
.mar10{margin:10px;}
.marr5{margin-right:5px;}
.marr10{margin-right:10px;}
.mart5{margin-top:5px;}
.mart10{margin-top:10px;}
.martb5{margin-top:5px;margin-bottom:5px;}
.martb10{margin-top:10px;margin-bottom:10px;}

.pad0{padding:2px;}
.pad5{padding:5px;}
.pad10{padding:10px;}
.padtb5{padding-top:5px;padding-bottom:5px;}
.padtb10{padding-top:10px;padding-bottom:10px;}
.padt15{padding-top:15px;}
.padt20{padding-top:20px;}

.center{text-align:center;}
.right{text-align:right;}
.left{text-align:left;}
.clear {clear:both;}

.floatl{float:left;}
.floatr{float:right;}
.center{text-align:center;}
.text_left{text-align:left;}
/**对齐margin|padding|float begin**/

.hide{display:none;}

/**color begin**/
.orange{color:#ff6800}
.red,.error{color:red;}
.red2{color: #e02323;}
.red3{color: #a51d1d;}
.choose{color:#e02323}
.gray{color:gray}
.gray2{color:#808080;}
.green{color:green}
.blue{color:#01AAED;}
.a_blue{color:#4887fa;}
.warn{color:#FF5722}
.green{color:green;}
.none-border{border:0px;}
.required{color:red;padding:0 3px;font-weight:normal;font-style:normal}
/**color end**/

/**字体大小 begin**/
.size14{font-size:14px}
.size16{font-size:16px}
.size18{font-size:18px}
.w100{width:100px;}
.w130{width:130px;}
.w150{width:150px;}
.w180{width:180px;}
.w200{width:200px;}
.w250{width:250px;}
.bold{font-weight: bold;}
.bolder{font-weight: bolder;}
/**字体大小 end**/

/*激活标签*/
.active,.selected{color:#ed6e6e;}
.active_li{background:#e9ecee;color:#ed6e6e;}

/**分页控制 begin**/
.page-box{float:right;height: 28px; margin:5px;line-height: 28px;margin:10px 0 20px 0;}
.page{overflow: hidden;float:left;}
.page li{float:left; margin-left: 5px;}
.page li a{border: 1px solid #cecece; display: inline-block;border-radius: 3px;padding: 0 8px; text-align: center;color: #595959;}
.page li:not(.page-disabled) a:hover{ border: 1px solid #e92222; color: #fff; background: #e92222;}
.page li.page-disabled{background:#d6d6d6;color:#fff}
.page li.page-disabled a{color:#fff;cursor:default}
.page li.page-choose a{ border: 1px solid #e92222; color: #fff; background: #e92222;cursor:default}
.page-box .page-go{float:left;margin:0 5px;}
.page-box .to_page_txt{width:32px;}
.page-box .to_page_btn{padding:3px;}
.page-box .page-all{float:left;}
.page-box .to_pageall_txt{width:40px;}
/**分页控制 end**/

/**表单布局 begin**/
.txt_form{width:550px;padding:20px 20px}
.txt_row{margin-bottom:6px;}
.txt_main .txt_title{margin-bottom:0px;font-weight:bold;line-height:36px;font-size:14px;width:90px;text-align:right;margin-right:5px;}
.txt_tips{color:#ddd;margin-left:100px;height:17px;line-height:17px;}
.txt_err .txt_tips{color:red;}
.txt_main .form-control{width:230px;}
.txt_main .btn,.txt_main .imgcode{margin-top:-1px}
.imgcode_box .form-control, .mobile_code_box .form-control{width:135px}
.agree_box label{margin-left:60px;font-weight:bold;font-size:14px;}
.sub_btns{padding-top:5px;margin:0px 0 5px 100px;}
.sub_btns .btn{width:135px}
/**表单布局 end**/

#mask_layer{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000;filter: alpha(opacity=50);opacity:0.5;}

/**消息提醒 begin**/
.message_box{position:fixed;top:40%;left:40%;z-index:1050;background-color: #fff;min-width:300px;border: 1px solid #999; border: 1px solid rgba(0,0,0,.2);outline: 0;}
.message_head{background-color: #eee;padding: 8px; border-bottom: 1px solid #e5e5e5;}
.message_title{float:left;margin-right:20px}
.massage_body{padding: 15px;}
.massage_foot{text-align:center;padding:8px;border-top:1px solid #e5e5e5;}
.massage_foot .btn{margin-right:10px;}
/**消息提醒 end**/

/*删除线*/
.span-del{text-decoration:line-through}

#express-box .layui-form-select dl{height:224px}

.param-search .layui-form-label{width:auto;}
.pro-ul{position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #e6e6e6;border-top:none;}
.pro-ul li{cursor:pointer;width: 118px;
    line-height: 30px;
    padding: 0 10px;}
.pro-ul li:hover{background-color: #ddd;}