.iframeTable{}
.iframes{border:none;width:100%;}
.iframes-left{padding:0 5px;}
.iframes-left-main{padding-right:5px;}
.iframes-left-main .form-control{width:220px;}

table{width:100%}

/*menu**/
.menu_box{height:60px;padding:2px 0px;border-bottom:1px solid #dcdcdc;overflow:hidden;background:#f5f5f5}
.menu_left{float:left;height:60px;padding-right:10px;overflow:hidden;border-right:1px dashed #dcdcdc;}
.menu_left .sys{float:right;color:#aaa;margin:5px 0 0 5px;line-height:22px;}
.menu_main{float:left;height:60px;padding-left:10px;overflow:hidden;}
.menu_main .menu1 li{float:left;padding:3px 6px 3px 6px;font-size:16px;border:1px solid #ccc;background:#eee;margin-right:5px;}
.menu_main .menu1 li a{color:#333;}
.menu_main .menu1 li a:hover {color:#ff8000;}
.menu_main .menu1 .active{background:#003399;border:1px solid #003366;}
.menu_main .menu1 .active *{color:#fff;}
.menu_main .menu2{margin-top:2px;}
.menu_main .menu2 ul{display:none;overflow:hidden;background:#d1e9ff;}
.menu_main .menu2 ul li{float:left;padding:5px 5px;margin-right:5px;font-size:12px;}
.menu_main .menu2 ul li a{color:#333;}
.menu_main .menu2 ul li a:hover {color:#ff8000;}
.menu_main .menu2 .active *{color:red;}
.menu_right{float:right;text-align:right;height:60px;padding:0px 8px;overflow:hidden;}
.menu_right li{padding:4px 0px;}


/*login**/
.main_login{position:relative;width:400px;margin:0 auto;top:30%;}
.main_login td{line-height:32px;}
.web_ul li{float:left;padding:10px 40px;}
.web_ul li a{color:#333;}
.web_ul li a:hover{color:#ff8000;}
.web_ul li .com_logo{height:50px;padding-bottom:10px;}
.web_ul li img{max-height:50px;}
.web_ul li .com_name{width:100px;word-wrap:break-word;}
.web_logout{padding:10px;border-top:1px dashed #dcdcdc;}
.checkcode_box{position:absolute;margin-top:-28px;right:62px;background:#fff;line-height:26px;padding:0 5px 0 1px;}
#back_fastlogin{display:none;}
#fast_login{display:none;padding:10px;}
#account{width:250px;margin:0 auto;}
#fast_img{
	display:block;
	width:78px;
	height:78px;
	margin:0 auto;
	padding:2px;
	border:1px solid #c9c9c9;
	border-radius:2px;
	box-shadow:0 0 6px #bbb;
	-webkit-box-shadow:0 0 10px #bbb;
	-moz-box-shadow:0 0 10px #bbb;
	text-align:center;
}
#fast_img:hover{
	border:1px solid #b0b0b0;
	box-shadow:0 0 6px #aaa;
	-webkit-box-shadow:0 0 6px #aaa;
	-moz-box-shadow:0 0 6px #aaa;
}
#fast_name{display:block;text-align:center;padding:10px 0px;color:#990000;}
#back_login{text-align:center;padding:10px 0px;}
/*main**/
.main{padding:10px;margin:0 auto;}
.make_scroll{overflow:auto;}
.scroll{overflow:auto;}
.set_box{padding:5px;margin:0 auto;width:1000px;}
.set_box_s{padding:5px;margin:0 auto;width:800px;}
.menu_info{line-height:22px;background:#A7DBF0;padding:0 5px;}
/**文本超出范围隐藏方式,使用省略号代替**/
.text_strategy{word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
/**make***/
.import_make_list li{float:left;width:180px;overflow:hidden;margin:2px;line-height:25px}

/**foot**/
.foot{border-top:1px solid #dcdcdc;background:#f5f5f5;color:#aaa;}
.copyright{line-height:25px;text-align:center;}

/**part*/
.set_part_name{font-weight:normal}
.ztree li a:hover {text-decoration:none}
#PartTree{margin-left: 20px;}
a.img{display: block; width: 20px;height: 16px;margin: 0 1px;float: left;}
.edit{background: url(../images/edit.gif) no-repeat center center #fff;}
.del{background: url(../images/del.gif) no-repeat center center #fff;}
#partList{width: 900px;margin-left: 20px;}
.BgMenu{background: #d1e9ff;border: 1px solid #b6d5f1;font-weight: 700;font-size: 14px;padding: 5px 10px;color: #333;}
#ProRight{float: right;}
.datagrid-btable{width: auto;}
.datagrid-htable{width: 20px;}
.spanBlock{display: inline-block;width: 20px;height: 18px;}
.panel-body{padding: 0;}
.panel-title{padding-left: 19px;}
.part-nav{height: 15px;width:1038px;line-height: 15px;background-color: #EFF5FF ;padding: 10px 0 20px 25px;border: 1px solid #95B8E7;margin-left: 1px;}
#params-table>tbody>tr>td{vertical-align: top;}
.addPPart{padding: 9px 10px;}
/**Factory_Import**/
.import_factory_list li{float:left;width:220px;overflow:hidden;margin:2px;line-height:25px}
.icon2_edit:hover{background-position: -82px -38px;}
.nochild{padding-left: 20px;}
.w77{width: 60px;height: 27px;}
.valDelete{float: right;height: 19px;}
#params-table{width:500px;}
#params-table tbody>tr>td{height: 27px;line-height: 27px;}
/**product begin***/
.pro_left{width:395px;float:left;}
.pro_right{width:600px;float:right;}
#selected_make{max-height:110px;overflow:auto;}
#selected_make li{width:115px;}
#make_select_box .select_main{top:29px;border:0px;}
#make_select_box .select_main .select_option li{width:170px;margin:2px 10px 2px 2px;}
#pro_small_img li{float:left;border:1px solid #c9c9c9;margin:5px;padding-bottom:5px;}
.img_action{padding:5px 0 0 12px;}
#set_form .tabs{width:100%}
.TagUl li{float: left;height: 20px;width: 50px;line-height: 13px;padding-left: 5px;cursor: pointer;font-size: 14px;}
.TrOver{padding-top: 15px;}
#SearchFrame{}
#innerTable{border: none;width: 100%;}
#innerTable td{border:none;padding: 3px;width: 30%;}
#ListFrame{padding-top: 5px;}
#proCheckTable{border:1px solid #eee;}
#proCheckTable tbody{height: 280px;overflow-y:scroll;display:block;width: 100%;}
#proCheckTable table thead,#proCheckTable tbody tr {display:table; width:100%; table-layout:fixed; }
#proCheckTable table thead th{ background:#ccc;}
#proCheckTable table .td-title{width: 90%;}
.searchCheck{padding-top: 20px;}
.searchCheck span{display: block;height: 25px;line-height: 25px;font-size: 14px;}
.iframes-left-main .changeStatus-remark textarea{width: 100%;}
.checkFoot{text-align: center;padding-top: 10px;}
.showImgBox{max-width: 600px;max-height: 600px;text-align: center;background-color: #000;}
.showImgBox img{width: 80%;height: 80%;margin: 10%;}
#modalArr select{margin: 2px 0;}
/**product end***/

/**product model begin***/
.MECBox{float:left;width:450px;padding:5px;}
.MECBox .title{background: url("../images//images5.png") no-repeat;background-position: -4px -151px;padding-left:10px;margin:4px 0px;overflow:hidden;}
.MECBox .ztree{margin-left:10px;}

/**product model end***/

/**产品发布**/
.pro-name{width: 50%;}
.layui-upload-img{width: 100px; height: 100px; margin: 0 10px 10px 0;}
.laytable-cell-1-imgUrl{ height: 100%; max-width: 100%; }
.laytable-cell-1-rule{height: 40px;}
.layui-form-item .layui-input-inline.pro-code{width: 250px;}

/**自编号码显示**/
.rule-box li{width: 200px;float: left;line-height: 40px;text-align: center;}

/**订单列表**/
.pro-box .pro-info{margin-top: 10px;}
.gray{color: #c2c2c2}
.red{color: #FF5722}
.pro-box .order-pro-row{border-bottom:1px solid #eee; }
.pro-box .order-pro-row:last-child{border-bottom: none;}
.pro-box .pro-img{min-width: 100px;}
.no-resize{resize: none;}
#treeDemo{padding-top: 13px;}
#art-wrap .layui-textarea{min-height: 40px;}
.layui-text-center{text-align: center;}
.express li{line-height: 30px;}
.marr20{margin-right: 20px;}
.color-1{color: #c2c2c2;}
.color0{color: #FFB800;}
.color1{color: #01AAED;}
.color2{color: #009688;}
.color3{color: #5FB878;}

/**改价**/
#edit-box .edit-pro-row{border-bottom: 1px solid #eee;}
#edit-box .edit-pro-row img{width: 100px;height: 100px;}
#edit-box .price-box{line-height: 40px;margin-top: 20px;}
.marbtom10{margin-bottom: 10px;}
.line-height40{line-height: 40px;}
.layui-table .right {text-align: right;}
/**支付审核**/
.laytable-cell-1-ord_pay_info{height: 100%;}

/**分类**/
.martop10{margin-top: 10px;}
.new-order-box{padding: 8px;}
/* ==========================================================================
   组件 - 将input转换为ztree下拉选择
 ============================================================================ */
.position-relative{position: relative;}
.ztree-input{position: absolute;top: 40px;z-index: 999;border: 1px solid #ccc;background-color: rgb(255,255,255);width: 145px;display: none;}
.num-layui{width: 42px;}

#addOrderAddr {
    width: 720px;
    display: none;
    margin-top: 0px;
}

#addOrderAddr .layui-form-label {
    width: 68px;
}

#addOrderAddr .layui-input-block {
    margin-left: 98px;
}
#set_addr_box .layui-form-item .detail-input {
    width: 400px;
}
.select-wraper {
    min-width: 84px;
    display: inline-block;
    margin-right: 10px;
}


/*公共底部版权说明*/
#copyright-box{position: absolute;bottom: 0px;left: 0;right: 0;}

.padding-10{margin-right: 20px;}

.add-num-box{margin-left: 110px;margin-top: 10px;margin-bottom: 50px;}